<div class="col s12 cat-div">
  <div class="cat-list">
    {% for cat in site.categories %}
    {% capture test %}{{cat[0] | slice: 0}}{% endcapture %}
    {% capture testup %}{{cat[0] | slice: 0 | upcase}}{% endcapture %}
    <a class="cat-chip" href="#{{cat[0] | slugify}}{% if test == testup %}_cap{% endif %}"><div class="chip z-depth-1">{{cat[0]}}</div></a>
    {% endfor %}
  </div>
  <div class="divider"></div>
  <div class="cat-index">
    {% for cat in site.categories %}
    {% capture test %}{{cat[0] | slice: 0}}{% endcapture %}
    {% capture testup %}{{cat[0] | slice: 0 | upcase}}{% endcapture %}
    <h4 id="{{cat[0] | slugify}}{% if test == testup %}_cap{% endif %}">{{cat[0]}}</h4>
    <ul class="cat-post">
      {% for post in cat[1] %}
      <div class="col s12">
        <div class="card hoverable">
          <div class="card-content">
            <span id="post-title" class="card-title">{{post.title}}</span>
            <p id="post-date">
            <i class="material-icons">date_range</i>
            {{post.date | date: "%d/%m/%Y %H:%M"}}
            </p>
            <p id="post-content">{{post.excerpt | remove: '<p>' | remove: '</p>'}}</p>
          </div>
          <div class="card-action">
          <a href="{{post.url | prepend: site.baseurl}}">
            Read More
          </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>